.nav{
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    width: 36%;
    height: 73px;
}
.profile{
    width: 11%;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
    cursor: pointer;
}
.info{
    position: absolute;
    top: 18px;
    left: 441px;
    width: 7%;
    cursor: pointer;
}
.new{
    position: absolute;
    top: 24px;
    left: 385px;
    width: 5%;
    cursor: pointer;
}
.sbar{
    background-color: white;
    width: 36%;
    height: 49px;
    border: 1px black solid;
    position: absolute;
    top: 73px;
    left: 0px;
}
.sort{
    position: absolute;
    top: 15px;
    left: 445px;
    width: 4%;
    cursor: pointer;
}
.search{
    position: absolute;
    top: 17px;
    left: 400px;
    width: 3%;
    z-index: 1;
    cursor: pointer;
}
.sbar input{
    position: absolute;
    top: 10px;
    left: 6px;
    border-radius: 4px;
    width: 85%;
    height: 24px;
}
.groupm{
    position: absolute;
    top: 27px;
    left: 269px;
    width: 5%;
    cursor: pointer;
}
.statues{
    position: absolute;
    top: 4px;
    left: 273px;
    cursor: pointer;
    width: 35%;
    z-index: 1;
}
.whatsapp{
    width: 35%;
    
}
.Techno p{
    position: absolute;
    top: 120px;
    left: 80px;
    cursor: pointer;
}
.Techno .img{
    border-radius: 50%;
    width: 4%;
    position: absolute;
    top: 130px;
    left: 15px;
    cursor: pointer;
}
.Techno h6{
    position: absolute;
    top: 131px;
    left: 79px;
    cursor: pointer;
}
.Techno .GD{
    z-index: 1;
    position: absolute;
    top: 104px;
    left: 387px;
    cursor: pointer;
}
.Techno h5{
    cursor: pointer;
    position: absolute;
    top: 108px;
    left: 457px;
    font-size: 14px;
    font-weight: bolder;
}
.Magdy p{
    position: absolute;
    top: 191px;
    left: 75px;
    cursor: pointer;
}
.Magdy img{
    position: absolute;
    top: 202px;
    left: 14px;
    z-index: 0;
    width: 4%;
    border-radius: 50%;
    cursor: pointer;
}
.Magdy h6{
    position: absolute;
    top: 210px;
    left: 84px;
    font-size: 10px;
    font-weight: unset;
    cursor: pointer;
}
.Magdy h5{
    cursor: pointer; 
    position: absolute;
    top: 172px;
    left: 457px;
    font-size: 15px;
    font-weight: unset;
}
.Ahmed p{
    position: absolute;
    top: 262px;
    left: 75px;
    z-index: 1;
    cursor: pointer;
}
.Ahmed .img{
    position: absolute;
    top: 270px;
    left: 13px;
    width: 4%;
    border-radius: 50%;
    cursor: pointer;
}   
.Ahmed .photo{
    position: absolute;
    top: 297px;
    left: 75px;
    width: 1%;
    cursor: pointer;
}
.Ahmed h6{
    position: absolute;
    top: 273px;
    left: 99px;
    font-weight: unset;
    cursor: pointer;
}
.Ahmed h5{
    cursor: pointer;
    position: absolute;
    top: 245px;
    left: 458px;
    font-size: 15px;
    font-weight: unset;
}
.Mama p{
    position: absolute;
    top: 331px;
    left: 76px;
    cursor: pointer;
}
.Mama img{
    position: absolute;
    top: 335px;
    left: 8px;
    border-radius: 50%;
    width: 5%;
    cursor: pointer;
}
.Mama h6{
    position: absolute;
    top: 342px;
    left: 84px;
    cursor: pointer;
}
.Mama h5{
    cursor: pointer;
    position: absolute;
    top: 318px;
    left: 457px;
    font-size: 15px;
    font-weight: unset;
}
.BestFriends p{
    position: absolute;
    top: 407px;
    left: 87px;
    cursor: pointer;
}
.BestFriends .img{
    position: absolute;
    top: 412px;
    left: 11px;
    width: 5%;
    border-radius: 50%;
    cursor: pointer;
}
.BestFriends h6{
    position: absolute;
    top: 422px;
    left: 101px;
    cursor: pointer;
}
.BestFriends .dont{
    width: 1%;
    position: absolute;
    top: 445px;
    left: 81px;
    cursor: pointer;
}
.BestFriends h5{
    cursor: pointer;
    position: absolute;
    top: 385px;
    left: 462px;
    font-size: 15px;
    font-weight: unset;
}
.myself p{
    position: absolute;
    top: 481px;
    left: 82px;
    cursor: pointer;
}
.myself img{
    width: 4%;
    position: absolute;
    top: 488px;
    left: 19px;
    border-radius: 50%;
    cursor: pointer;
}
.myself h6{
    position: absolute;
    top: 495px;
    left: 91px;
    font-weight: unset;
    cursor: pointer;
}
.myself h5{
    cursor: pointer;
    position: absolute;
    top: 464px;
    left: 461px;
    font-size: 15px;
    font-weight: unset;
}
.Eyad p{
    position: absolute;
    top: 558px;
    left: 90px;
    cursor: pointer;
}
.Eyad .img{
    position: absolute;
    top: 563px;
    left: 15px;
    width: 5%;
    border-radius: 50%;
    cursor: pointer;
}
.Eyad h6{
    position: absolute;
    top: 575px;
    left: 113px;
    font-weight: unset;
    cursor: pointer;
}
.Eyad .true{
    position: absolute;
    top: 587px;
    left: 83px;
    width: 2%;
    cursor: pointer;
}
.Eyad h5{
    cursor: pointer;
    position: absolute;
    top: 536px;
    left: 462px;
    font-size: 15px;
    font-weight: unset;
}
.group{
    width: 2%;
}

.chat .b{
    position: absolute;
    top: 440px;
    left: 1228px;
    width: 7%;
    border: 0px solid black;
}
.chat .mb{
    position: absolute;
    top: 0;
    left: 492px;
    width: 64%;
}
.chat .t{
    position: absolute;
    top: 100px;
    left: 560px;
    width: 13%;
}
.chat input{
    position: absolute;
    top: 8px;
    left: 92px;
    width: 83%;
    height: 38px;
    border-radius: 6px;
}
.chat .add{
    position: absolute;
    top: 21px;
    left: 55px;
    width: 2%;
    cursor: pointer;
}
.chat .voice{
    position: absolute;
    top: 18px;
    left: 823px;
    width: 3%;
    cursor: pointer;
}
.chat .smile{
    position: absolute;
    top: 22px;
    left: 23px;
    width: 2%;
    cursor: pointer;
}
.meb{
    width: 63%;
    height: 56px;
    position: absolute;
    background-color: grey;
    top: 611px;
    left: 494px;
}
.Mama:hover{
background-color: grey;
width: 100px;
height: 100px;
}
.background{
    width: 100%;
    position: absolute;
    top: -557px;
    left: 7px;
    z-index: -1;
}